<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNg" parallel="tests" thread-count="2">
  <test name="Test">
  
  <parameter name="NameOfBrowser" value="Chrome"></parameter>
  <classes>
      
      <class name="TestNg.testcases"></class>
      
      <class name="TestNg.parallel_Browsers"></class>
      <class name="TestNg.Test1"></class>
    </classes>
    
  </test> <!-- Test -->
  <test name="Test1">
  
  
  <parameter name="NameOfBrowser" value="MicroSoft Edge"></parameter>
  <classes>
     
      <class name="TestNg.testcases"></class>
      
      <class name="TestNg.parallel_Browsers"></class>
      <class name="TestNg.Test1"></class>
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
